doctype
html
    head
    title= "Real time web chat"
    script(src='/javascripts/chat.js')
    script(src='/socket.io/socket.io.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

    body
        #mainBody(style='padding-top: 10%; padding-right: 30%; padding-left: 30%; height:350px; width: 520px')
          h1
            |ChatBox
          #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
          .controls
          #inputs(style='width:500px; height:150px')
            | Name: 
            input#name(style='width:150px;')
            br
            input#field(style='width:350px; height:25px; padding-top:5px')
            input#send(type='button', value='send', style='height:30px; width:130px; float:right')

